/* This is where you can style your site! */

/* Page structure */

html{
  height: 100%;
}

body{
  height: auto;
  margin: 0;
  padding: 0;
}

.site-navigation ul,
.comic-navigation ol{
  padding: 0;
  display: flex;
  justify-content: center;
}

.site-navigation li,
.comic-navigation li{
  list-style: none;
  display: inline-block;
}

.site-navigation li a,
.comic-navigation li a{
  display: block;
}

body > section{
  display: grid;
  grid-template-rows: max-content auto max-content;
  min-height: 100vh;

  max-width: 98vw;
  margin-left: auto;
  margin-right: auto;
}

main figure{
  margin-top: 1vh;
  margin-left: .3em;
  margin-right: .3em;
  margin-bottom: 1em;
  text-align: center;
}

main figure img{
  max-width: 50vw;
}

main article{
  padding-left: .3em;
  padding-right: .3em;
  margin-bottom: .8em;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

main article h2,
main article .publish-date{
  text-align: center;
}

main article h2{
  margin-bottom: 0;
}

main article .publish-date{
  margin-bottom: .5em;
}

/*
  Flourishes (I've been using https://colorhunt.co/palette/140057 )
  #eeeeee
  #acc6aa
  #71a0a5
  #77628c
*/

html {
  background: white;
}

section{
  /*background: #acc6aa;*/
  /*border: 1px solid rgba(113, 160, 165, 1.000);
  border-radius: .8em;*/
  padding-left: 1vw;
  padding-right: 1vw;
}

h1 {
    color: #fff; /* this is the fallback */
  -webkit-text-stroke: 2px #fff;
  -webkit-text-fill-color: transparent;
  
  font-family: Arial Black, sans-serif;
  font-weight: 900;
  font-size: 120px;
  text-align: center;
  line-height: 90%;
}

.header {
  color: white;
  background-color: black;
  text-align: right; !important
  line-height: -50%; !important
}

.grid {
  /*border: solid;*/
  display: flex;
  flex-wrap: wrap;
  /*text-align: center;*/
  margin: auto;
}

.row {
  /*border: solid;*/
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 1px solid;
  margin: 10px;
  padding: 25%;
  display: flex;
  flex-wrap: wrap;
}

.box-short {
  border: 1px solid;
  margin: 10px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.box-large {
  border: 1px solid;
  margin: 10px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-height: 100vh;
}

.hiq {
  font-family: 'IBM Plex Mono', monospace;
}

.plex_semi {
  font-weight: 700;
}

.plex_eli {
  font-weight: 200i;
  font-style: italic;
}

input[type=email] {
  padding: 15px;
  border: 1.5px solid;
}

input[type=submit] {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  background-color: black;
  border: 1.5px solid black;
  padding: 15px;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.rotate-180 {
  transform: rotate(-180deg);
}

.vertical-rl { 
  writing-mode: vertical-rl;
}

.vertical-lr { 
  writing-mode: vertical-lr;
  padding: 5%;
}

footer {
  font-family: 'IBM Plex Mono', monospace;
  border: 1px solid;
  text-align: center;
}
